body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    font-size: xx-small;
    color: #9c8857;
    margin: 1%;
    background-color: #faf6ed;
    padding: 3px;
    width: 30%;
}

p {
    margin: 0px;
}

.calculator {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 20vh 30vh 68vh 30vh; /* top | right | bottom | left*/
    flex: 1 1 0;
    border: 5px double black ; /*size type color*/
    border-radius: 10%;
    
}

.footer {
    background-color: #faf6ed;
    display: flex;
    justify-content: center;
    padding: 2px;
    width: 30%;
}