body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background-color: blanchedalmond;
}

.header {
    background-color: antiquewhite;
}

.notes {
    background-color: antiquewhite;
}

.calculator {
    background-color: antiquewhite;
}

.footer {
    background-color: antiquewhite;
}