body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-items: center;
    font-size: xx-small;
    color: #9c8857;
    margin: 1%;
    background-color: #faf6ed;
    padding: 3px;
    width: 35%;

}

p {
    margin: 0px;
}

.calculator {
    background-color: #656965;
    display: flex;
    flex: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 3% 3% 3%; 
    margin: 10vh 100px 50vh 100px; /* top | right | bottom | left*/
    flex: 1 1 0;
    border: 5px double black ; /*size type color*/
    border-radius: 40px;
}

.calcTitle {
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: 10px;
    margin-top: 2px;
    color: darkgrey;
    font-size: larger;
}

.main_display {
    background-color: #95fc97;
    color:#3a4a38;
    font-size: 90px;
    font-weight: bold;
    border: 1px inset grey;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 10%;
    width: 420px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

button {
    background-color: #333633;
    color: darkgrey;
    border-radius: 7px;
    margin: 3px;
    height: 100px;
    width: 100px;
    font-size: 40px;
}

.compute {
    width: 208px;
    color: yellow;
}

.clear, .backspace{
    width: 155px;
    color: #eb6579;
}

.operation{
    color: orange;
}


.footer {
    background-color: #faf6ed;
    display: flex;
    justify-content: center;
    padding: 2px;
    width: 40%;
    font-size: xx-small;
    color: darkgrey;
}